$lexend: 'Lexend Deca', sans-serif;
$big : 'Big Shoulders Display', cursive;

// colors
$orange: hsl(31, 77%, 52%);
$cyan: hsl(184, 100%, 22%);
$darkcyan: hsl(179, 100%, 13%);
$trawhite: hsla(0, 0%, 100%, 0.75);
$lighgray: hsl(0, 0%, 95%);