@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

@import "vars";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: $big;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  @media (max-width: 992px) {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
.cards {
  width: 1000px;
  margin: 0 auto;
  @media (max-width: 992px) {
    width: 100%;
    height: 100%;
  }

    .col-lg-4 {
      padding: 0;
    }
    .card {
      border: none;
      color: white;
      border-radius: 0;
      padding: 50px;
      width: 100%;
      min-height: 530px;

      img {
        width: 75px;
        filter: brightness(10);
        margin-bottom: 15px;
        mix-blend-mode: soft-light;
      }
      h1 {
        text-transform: uppercase;
        font-size: 40px;
        margin: 20px 0;
      }
      p {
        color: $trawhite;
        font-family: $lexend;
        line-height: 25px;
      }
      a {
        margin-top: auto;
        text-decoration: none;
        background: white;
        border-radius: 50px;
        padding: 11px 40px;
        width: fit-content;
        font-size: 16px;
        border: 2px solid white;
        transition: 0.3s;
        font-family: $lexend;
        &:hover {
          background: transparent;
          color: white !important;
        }

        &#a1 {
          color: $orange;
        }
        &#a2 {
          color: $cyan;
        }
        &#a3 {
          color: $darkcyan;
        }
      }
    }
  }
  .c1 {
    background: $orange;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    @media (max-width: 992px) {
      border-top-left-radius: 10px !important;
      border-top-right-radius: 10px !important;
      border-bottom-left-radius: 0 !important;
    }
  }
  .c2 {
    background: $cyan;
    @media (max-width: 992px) {
      border-radius: 0 !important;
    }
  }
  .c3 {
    background: $darkcyan;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    @media (max-width: 992px) {
    border-top-right-radius: 0 !important;
      border-bottom-left-radius: 10px !important;
      border-bottom-right-radius: 10px !important;
    }
  }
}
